<% current_user.get_stars.each do |star| %>
  <div class="container mx-auto bg-gray-100 pt-4 pl-4 shadow-md rounded-lg border-4 border-solid border-opacity-25">
    <%= link_to "#{star[:html_url]}" do%>
      <span class="text-xl text-blue-500"><%= star[:owner][:login] %></span>
      <span class="text-xl text-blue-500">/</span>
      <span class="text-xl text-blue-500 font-bold"><%= star[:name] %></span>
    <% end %>

    <div class="pt-2 pb-2"><%= star[:description] %></div>

    <div class="pb-4">
      <ul class="flex flex-row">
        <li class="pr-4">Langauge: <%= star[:language] %></li>
        <li class="pr-4">Stars: <%= star[:stargazers_count] %></li>
        <li class="pr-4">Forks: <%= star[:forks_count] %></li>
      </ul>
    </div>
  </div>
  <br>
<% end %>
