<% if @stars.empty? %>
  <%= render 'users/no_stars' %>
<% else %>
  <% @stars.each do |star| %>
    <div class="user-star">
      <div class="container mx-auto bg-gray-100 pt-4 pl-4 shadow-md rounded-lg border-4 border-solid border-opacity-25">
        <%= link_to star.url do%>
          <span class="text-xl text-blue-500"><%= star.owner %></span>
          <span class="text-xl text-blue-500">/</span>
          <span class="text-xl text-blue-500 font-bold"><%= star.name %></span>
        <% end %>

        <div class="pt-4 pb-4"><%= star.description %></div>

        <% unless star.tags.empty? %>
          <div class="pb-4">
            <ul class="flex flex-row">
              <% star.tags.each do |tag| %>
                <div class="pr-4">
                  <li class="border-2 border-blue-300 bg-blue-200 text-center p-2 rounded-md shadow-sm">
                    <%= tag.name %>
                  </li>
                </div>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="pb-6">
          <ul class="flex flex-row text-center text-gray-500">
            <%= link_to new_tags_path(star.id) do%>
              <div class="pr-4">
                <li class="border-2 border-gray-300 hover:bg-gray-200 w-32 p-2 rounded-2xl shadow-md">
                  Add tags
                </li>
              </div>
            <% end %>

            <% unless star.tags.empty? %>
              <%= link_to edit_tags_path(star.id) do%>
                <div class="pr-4">
                  <li class="border-2 border-gray-300 hover:bg-gray-200 w-32 p-2 rounded-2xl shadow-md">
                    Remove tags
                  </li>
                </div>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <br>
  <% end %>
<% end %>
